.app{
  height: 100vh;
  background-repeat: no-repeat;
  width: 100vw;
  background-color: rgb(225 231 239);
}

.homepage__header{
  background-color: #04203c;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
}

.homepage__header__items{
  display: flex;
}

.homepage__header__item{
  margin-right: 20px;
}

.homepage__body{
  padding: 10px;
}

.homepage__text{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-left: 12px;
}

.form-field{
  font-size: 20px;
  margin: 4px;
  display: inline-block;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #5d748a;
  padding: 0.5rem;
  width: 284px;
  margin-left: 28px;
}

.search-button{
  background-color: rgb(255, 109, 56);
  border-radius: 30px;
  margin-left: 6px;
  width: 200px;
  line-height: normal;
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 16px 45px;
  outline: 0px;
  border: 0px;
  cursor: pointer;
}

.homepage__body__flights{
  margin: 0.6rem;
  padding: 1rem;
  border-radius: 10px;
  max-height: 500px;
  overflow: scroll;
  border: 2px solid #d0d0d7;
}

.homepage__body__form{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px;
    border-radius: 20px;
    padding: 24px;
    margin: 0px auto;
}

.flight{
  width: auto;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 4px 0px;
  background-color: rgb(255, 255, 255);
  margin-top: 1rem;
  padding: inherit;
}

.flights__info{
  margin-top: 10px;
}

a {
  text-decoration:none;
  color: white;
}

select{
  background-color: green;
}
option{
  color: yellow;
}

.flight__search_button{
  font-size: 18px;
  background-color: blue;
  border: 2px solid #5d748a;
  color: white;
  border-radius: 16px;
  margin-left: 6px;
  padding: 1rem;
  width: 200px;
}

.flight__airline{
    color: gray;
    font-weight: 700;
    font-size: 20px;
}

.flight__duration{
  font-size: small;
  font-weight: 700;
}

.select__button{
  font-size: 18px;
  background-color: blue;
  border: 2px solid #5d748a;
  color: white;
  border-radius: 8px;
  width: 120px;
}

*,
*:focus{outline: none}

.form{
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.form-item{
  position: relative;
  margin: 10px;
  color: #241c1c;
}
.form-item input{
  display: block;
  width: 400px;
  height: 40px;
  background: transparent;
  border: solid 1px #161111;
  transition: all .3s ease;
  padding: 0 15px;
  border-radius: 10px;
}
.form-item input:focus{
  border-color: blue
}
.form-item label{
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 13px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
  background: rgb(225 231 239);
  padding: 0 10px;
  transition: all .3s ease
}
.form-item input:focus + label,
.form-item input:valid + label{
  font-size: 12px;
  top: -5px
}
.form-item input:focus + label{
  color: blue
}

::placeholder {
  color: rgb(19, 4, 4);
  opacity: 0.5;
}